body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:360px;
  height:580px;
}
#u590_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:580px;
  overflow:auto;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:32px;
  width:27px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
