body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:360px;
  height:580px;
  overflow:hidden;
}
#u528_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:580px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u528_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1791px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1791px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:888px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:25px;
  width:37px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
