body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:287px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:12212px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:12212px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6098px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
